[submodule "kodeExtensions/kha"]
	path = kodeExtensions/kha
	url = https://github.com/Kode/vscode-kha.git
	branch = master
[submodule "kodeExtensions/krafix"]
	path = kodeExtensions/krafix
	url = https://github.com/Kode/vscode-krafix.git
	branch = master
[submodule "kodeExtensions/krom"]
	path = kodeExtensions/krom
	url = https://github.com/Kode/vscode-krom.git
	branch = master
[submodule "kodeExtensions/krom-debug"]
	path = kodeExtensions/krom-debug
	url = https://github.com/Kode/vscode-krom-debug.git
	branch = master
[submodule "kodeExtensions/haxe"]
	path = kodeExtensions/haxe
	url = https://github.com/Kode/vshaxe.git
	branch = master
[submodule "kodeExtensions/codedox"]
	path = kodeExtensions/codedox
	url = https://github.com/Kode/codedox.git
	branch = master
